{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-customer-group" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-customer-group" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
              <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                <input type="text" name="customer_group_description[{{ language.language_id }}][name]" value="{{ customer_group_description[language.language_id] ? customer_group_description[language.language_id].name }}" placeholder="{{ entry_name }}" class="form-control" />
              </div>
              {% if error_name[language.language_id] %}
              <div class="text-danger">{{ error_name[language.language_id] }}</div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% for language in languages %}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
            <div class="col-sm-10">
              <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                <textarea name="customer_group_description[{{ language.language_id }}][description]" rows="5" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" class="form-control">{{ customer_group_description[language.language_id] ? customer_group_description[language.language_id].description }}</textarea>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="form-group">
            <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_approval }}">{{ entry_approval }}</span></label>
            <div class="col-sm-10">
              <label class="radio-inline">
                {% if approval %}
                <input type="radio" name="approval" value="1" checked="checked" />
                {{ text_yes }}
                {% else %}
                <input type="radio" name="approval" value="1" />
                {{ text_yes }}
                {% endif %}
              </label>
              <label class="radio-inline">
                {% if not approval %}
                <input type="radio" name="approval" value="0" checked="checked" />
                {{ text_no }}
                {% else %}
                <input type="radio" name="approval" value="0" />
                {{ text_no }}
                {% endif %}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
          <div class="tab-pane" id="tab-app">
           <h3>Charging for your app</h3>
              
             
            
              
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-name">Name</label>
                <div class="col-sm-10">
                  <input type="text" name="config_charging[name]" value="{{ config_charging.name }}" id="input-price" class="form-control" />
                </div>
              </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-name">Price</label>
                <div class="col-sm-10">
                  <input type="text" name="config_charging[price]" value="{{ config_charging.price }}" id="input-price" class="form-control" />
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-2 control-label">Charge type</label>
                <div class="col-sm-10">
                 <label class="radio-inline"> {% if config_charging.charge_type %}
                      <input type="radio" name="config_charging[charge_type]" value="1" checked="checked" />
                      one-time charge
                      {% else %}
                      <input type="radio" name="config_charging[charge_type]" value="1" />
                      one-time charge
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_charging.charge_type %}
                      <input type="radio" name="config_charging[charge_type]" value="0" checked="checked" />
                      per-month charge
                      {% else %}
                      <input type="radio" name="config_charging[charge_type]" value="0" />
                     per-month charge
                      {% endif %}</label>
                  
                  
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">SendBox</label>
                <div class="col-sm-10">
                 <label class="radio-inline"> {% if config_charging.sendbox %}
                      <input type="radio" name="config_charging[sendbox]" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="config_charging[sendbox]" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not config_charging.sendbox %}
                      <input type="radio" name="config_charging[sendbox]" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="config_charging[sendbox]" value="0" />
                      {{ text_no }}
                      {% endif %}</label>
                  
                  
                </div>
              </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-name">Return Url</label>
                <div class="col-sm-10">
                  <input type="text" name="config_charging[retrun_url]" value="{{ config_charging.retrun_url }}" id="input-price" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-name">Trial days</label>
                <div class="col-sm-10">
                  <input type="text" name="config_charging[trial_days]" value="{{ config_charging.trial_days }}" id="input-price" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-name">放弃购买提示：</label>
                <div class="col-sm-10">
                  <input type="text" name="config_charging[tips]" value="{{ config_charging.tips }}" id="input-price" class="form-control" />
                </div>
              </div>
              </div>
            
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
