
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
     {% for banner in banners %}
      <div class="swiper-slide">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %}</div>
    </div>
    <!-- Add Pagination -->
   <!-- <div class="swiper-pagination"></div>-->
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  
  <link rel="stylesheet" href="catalog/view/javascript/jquery/swiper/css/swiper.min.css">

  <!-- Demo styles -->
  <style>
   
    .swiper-container {
      width: 100%;
      height: 100%;
    }
	 .swiper-container:hover .swiper-button-next,.swiper-button-prev{
		display:block;
	}
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  </style>

  <!-- Swiper JS -->
  <script src="catalog/view/javascript/jquery/swiper/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.banner{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true
    });
  </script>




