<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}

<!-- Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="catalog/view/theme/fastor/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/fastor/css/animate.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/fastor/css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/fastor/css/responsive.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/fastor/css/menu.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/fastor/css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/fastor/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/fastor/css/filter_product.css" />
<style type="text/css">
a:hover,  div.pagination-results ul li.active {
	color: #bc985c;
}
.product-info .radio-type-button span:hover,  .product-info .radio-type-button span.active,  .product-info .radio-type-button2 span:hover,  .product-info .radio-type-button2 span.active,  #main .mfilter-image ul li.mfilter-image-checked {
	border-color: #bc985c;
}
.product-info .radio-type-button2 span.active {
	background: #bc985c;
}
.compare-info .price-new,  .product-grid .product .price,  .product-list .actions > div .price,  .product-info .price .price-new,  ul.megamenu li .product .price,  .mini-cart-total td:last-child,  .cart-total table tr td:last-child,  .mini-cart-info td.total,  .advanced-grid-products .product .right .price,  .product-list .name-actions > .price,  .today-deals-products .product .price,  .medic-last-in-stock .price,  .architecture-products .product .right .price,  .matrialarts-products .matrial-product .right .price,  .today-deals-toys2-products .price,  .today-deals-shoes3-products .price,  .holidays-products .product .right .price {
	color: #bc985c;
}
body,  .standard-body .full-width #mfilter-content-container > span:before {
	background: #ffffff;
}
.product-grid .product:hover:before,  .product-list > div:hover {
	border-color: #bc985c;
}
.product-grid .product .only-hover ul li a:hover,  .architecture-products .product .right .only-hover ul li a:hover,  .product-list .name-actions ul li a:hover,  .today-deals-toys2-products .only-hover ul li a:hover,  .flower-product .right ul li a:hover {
	background-color: #bc985c;
}
.product-grid .product .only-hover ul li a:hover,  .architecture-products .product .right .only-hover ul li a:hover,  .product-list .name-actions ul li a:hover,  .today-deals-toys2-products .only-hover ul li a:hover,  .flower-product .right ul li a:hover {
	border-color: #bc985c;
}
.product-grid .product .only-hover ul li a:hover,  .architecture-products .product .right .only-hover ul li a:hover,  .product-list .name-actions ul li a:hover,  .today-deals-toys2-products .only-hover ul li a:hover,  .flower-product .right ul li a:hover {
	color: #fff;
}
.dropdown-menu li a:hover,  .dropdown-menu .mini-cart-info a:hover,  .ui-autocomplete li a:hover,  .ui-autocomplete li a.ui-state-focus {
	color: #bc985c !important;
}
.select:after,  .product-filter .list-options .sort:after,  .product-filter .list-options .limit:after {
	color: #bc985c;
}
.box .box-heading,  .product-block .title-block,  .refine_search,  .market-products-categories > ul > li > a {
	border-bottom-color: #bc985c;
}
.col-sm-3 .box-no-advanced.box .box-content, .col-sm-4 .box-no-advanced.box .box-content, .col-md-3 .box-no-advanced.box .box-content, .col-md-4 .box-no-advanced.box .box-content {
	border-color: #bc985c;
}
.col-sm-3 .box-no-advanced.box .box-heading, .col-sm-4 .box-no-advanced.box .box-heading, .col-md-3 .box-no-advanced.box .box-heading, .col-md-4 .box-no-advanced.box .box-heading {
	border-color: #bc985c;
}
.header-type-3 #top .search_form:hover,  .header-type-8 #top .search_form:hover {
	border-color: #bc985c;
}
.header-type-3 #top .search_form:hover,  .header-type-8 #top .search_form:hover {
	background-color: #bc985c;
}
.header-type-3 #top .search_form:hover,  .header-type-8 #top .search_form:hover {
	color: #fff;
}
#top .my-account:hover {
	border-color: #bc985c;
}
#top .my-account:hover {
	background: #bc985c;
}
#top .my-account:hover,  .header-type-23 .dropdown:hover i {
	color: #fff;
}
#top #cart_block:hover .cart-heading .cart-icon,  .cart-block-type-2 #top #cart_block:hover .cart-heading,  .cart-block-type-9 #top #cart_block:hover .cart-heading,  .cart-block-type-8 #top #cart_block:hover .cart-heading,  .cart-block-type-7 #top #cart_block:hover .cart-heading,  .cart-block-type-4 #top #cart_block:hover .cart-heading,  .cart-block-type-6 #top #cart_block:hover .cart-heading,  .cart-block-type-8 #top #cart_block:hover .cart-heading p,  .cart-block-type-4 #top #cart_block:hover .cart-heading .cart-icon {
	border-color: #bc985c;
}
#top #cart_block:hover .cart-heading .cart-icon,  .cart-block-type-2 #top #cart_block:hover .cart-heading,  .cart-block-type-9 #top #cart_block:hover .cart-heading,  .cart-block-type-8 #top #cart_block:hover .cart-heading,  .cart-block-type-7 #top #cart_block:hover .cart-heading,  .cart-block-type-4 #top #cart_block:hover .cart-heading {
	background: #bc985c;
}
#top #cart_block .cart-heading .cart-count {
	color: #fff;
}
#top #cart_block .cart-heading .cart-count {
	background-color: #bc985c;
}
#top #cart_block .cart-heading p:after {
	color: #bc985c;
}
#top #cart_block:hover .cart-heading .cart-count {
	color: #fff;
}
#top #cart_block:hover .cart-heading .cart-count {
	background-color: #333;
}
#top #cart_block:hover .cart-heading p {
	color: #bc985c;
}
#top #cart_block:hover .cart-heading p:after {
	color: #333;
}
#main .mfilter-slider-slider .ui-slider-handle, #main #mfilter-price-slider .ui-slider-handle {
	background: #bc985c !important;
}
#main .mfilter-slider-slider .ui-slider-range, #main #mfilter-price-slider .ui-slider-range {
	background: #bc985c !important;
}
ul.megamenu > li.with-sub-menu > a strong:after {
	color: #bc985c;
}
ul.megamenu > li.with-sub-menu:hover > a strong:after {
	color: #333;
}
ul.megamenu > li:hover > a,  ul.megamenu > li.active > a,  ul.megamenu > li.home > a {
	color: #bc985c;
}
ul.megamenu li .sub-menu .content a:hover,  ul.megamenu li .sub-menu .content .hover-menu .menu ul li:hover > a {
	color: #bc985c;
}
ul.megamenu li .sub-menu .content .hover-menu a.with-submenu:before {
	color: #bc985c;
}
ul.megamenu li .sub-menu .content .static-menu a.main-menu {
	color: #333;
}
ul.megamenu li .sub-menu .content .static-menu a.main-menu:hover {
	color: #bc985c;
}
ul.megamenu li .sub-menu .content .static-menu a.main-menu:after {
	background: #bc985c;
}
.megamenuToogle-wrapper {
	background-color: #0d0d0d;
}
 @media (max-width: 991px) {
.responsive .standard-body .full-width .megamenu-background .megaMenuToggle:before {
	background-color: #0d0d0d;
}
}
.megamenuToogle-wrapper .container {
	color: #fff;
}
.megamenuToogle-wrapper .container > div span {
	background: #fff;
}
.megamenuToogle-wrapper:hover,  .active .megamenuToogle-wrapper {
	background-color: #bc985c;
}
.megamenuToogle-wrapper:hover .container,  .active .megamenuToogle-wrapper .container {
	color: #fff;
}
.megamenuToogle-wrapper:hover .container > div span,  .active .megamenuToogle-wrapper .container > div span {
	background: #fff;
}
.breadcrumb .container h1 {
	color: #0d0d0d;
}
.breadcrumb .container h1 {
	border-bottom-color: #bc985c;
}
.breadcrumb ul,  .breadcrumb ul a {
	color: #808080;
}
.breadcrumb ul a:hover {
	color: #bc985c;
}
.next-product .right .price {
	color: #bc985c;
}
.button-previous-next {
	color: #bc985c;
}
.button-previous-next:hover {
	background: #bc985c;
}
.button-previous-next:hover {
	border-color: #bc985c;
}
.button-previous-next:hover {
	color: #fff;
}
#main .box-category ul li > a:hover {
	color: #bc985c;
}
#main .box-category ul li a.active {
	color: #bc985c;
}
.box-with-categories .box-heading {
	background: #bc985c;
}
.box-with-categories .box-heading {
	color: #fff;
}
.box > .prev:hover,  .box > .next:hover,  .product-info .thumbnails-carousel .owl-buttons .owl-prev:hover,  .product-info .thumbnails-carousel .owl-buttons .owl-next:hover,  div.pagination-results ul li:hover,  .tab-content .prev-button:hover,  .tab-content .next-button:hover {
	background: #bc985c;
}
.box > .prev:hover,  .box > .next:hover,  .product-info .thumbnails-carousel .owl-buttons .owl-prev:hover,  .product-info .thumbnails-carousel .owl-buttons .owl-next:hover,  div.pagination-results ul li:hover,  .tab-content .prev-button:hover,  .tab-content .next-button:hover {
	color: #fff;
}
.box > .prev:hover,  .box > .next:hover,  .product-info .thumbnails-carousel .owl-buttons .owl-prev:hover,  .product-info .thumbnails-carousel .owl-buttons .owl-next:hover,  div.pagination-results ul li:hover,  .tab-content .prev-button:hover,  .tab-content .next-button:hover {
	border-color: #bc985c;
}
.filter-product .filter-tabs ul > li.active > a, .filter-product .filter-tabs ul > li.active > a:hover, .filter-product .filter-tabs ul > li.active > a:focus, .htabs a.selected, .htabs a:hover {
	color: #333;
}
.htabs a.selected:before,  .filter-product .filter-tabs ul > li.active > a:before {
	background: #bc985c;
}
.filter-product .filter-tabs ul > li > a,  .htabs a {
	color: #333;
}
.categories-wall .category-wall h3 {
	border-bottom-color: #bc985c;
}
.categories-wall .category-wall .more-categories {
	color: #bc985c;
}
.categories-wall .category-wall .more-categories:hover {
	background: #bc985c;
}
.categories-wall .category-wall .more-categories:hover {
	border-color: #bc985c;
}
.categories-wall .category-wall .more-categories:hover {
	color: #fff;
}
.popup h4:after {
	background: #bc985c;
}
.popup .newsletter input {
	color: #0d0d0d;
}
 .popup .newsletter input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 color:    #0d0d0d;
}
 .popup .newsletter input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #0d0d0d;
 opacity:  1;
}
 .popup .newsletter input::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #0d0d0d;
 opacity:  1;
}
 .popup .newsletter input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #0d0d0d;
}
.popup .newsletter input {
	background: #fff;
}
.popup .newsletter input:focus {
	background: #fafafa;
}
.popup .newsletter .subscribe {
	background: #0d0d0d !important;
}
.popup .newsletter .subscribe:hover {
	background: #333 !important;
}
body .popup-module .mfp-close {
	border-color: #0d0d0d;
}
body .popup-module .mfp-close {
	color: #0d0d0d;
}
body .popup-module .mfp-close:hover {
	background: #333;
}
body .popup-module .mfp-close:hover {
	border-color: #333;
}
body .popup-module .mfp-close:hover {
	color: #fff;
}
.camera_wrap .owl-controls .owl-buttons .owl-prev:hover, .camera_wrap .owl-controls .owl-buttons .owl-next:hover,  #main .tp-leftarrow.default:hover,  #main .tp-rightarrow.default:hover,  #main .post .post-media .media-slider .owl-controls .owl-buttons .owl-prev:hover,  #main .post .post-media .media-slider .owl-controls .owl-buttons .owl-next:hover {
	background: #bc985c;
}
.camera_wrap .owl-controls .owl-buttons .owl-prev:hover:before, .camera_wrap .owl-controls .owl-buttons .owl-next:hover:before,  #main .tp-leftarrow.default:hover:before,  #main .tp-rightarrow.default:hover:before,  #main .post .post-media .media-slider .owl-controls .owl-buttons .owl-prev:hover:before,  #main .post .post-media .media-slider .owl-controls .owl-buttons .owl-next:hover:before {
	color: #fff;
}
.sale {
	background: #bc985c;
}
.sale {
	color: #fff;
}
#main .new {
	background: #0d0d0d;
}
#main .new {
	color: #fff;
}
.rating i.active {
	color: #bc985c;
}
.button, .btn {
	color: #fff !important;
}
.button, .btn {
	background: #bc985c !important;
}
.button:hover, .btn:hover {
	color: #fff !important;
}
.button:hover, .btn:hover {
	background: #333 !important;
}
.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	color: #fff !important;
}
.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	background: #0d0d0d !important;
}
.buttons .left .button:hover, .buttons .center .button:hover, .btn-default:hover, .input-group-btn .btn-primary:hover {
	color: #fff !important;
}
.buttons .left .button:hover, .buttons .center .button:hover, .btn-default:hover, .input-group-btn .btn-primary:hover {
	background: #333 !important;
}
.custom-footer h4,  .custom-footer .background,  .standard-body .custom-footer .background,  .fb-like-box,  ul.contact-us li i {
	border-color: #e5e5e5;
}
.custom-footer .background,  .standard-body .custom-footer .background {
	background: #fff;
}
.custom-footer .pattern {
	background: none;
}
.footer .pattern,  .footer .pattern a {
	color: #0d0d0d;
}
.footer .pattern a {
	color: #0d0d0d;
}
.footer .pattern a:hover {
	color: #bc985c;
}
.footer h4 {
	color: #0d0d0d;
}
.footer h4 {
	border-bottom-color: #bc985c;
}
.footer .background,  .standard-body .footer .background,  .copyright .background,  .standard-body .copyright .background {
	background: #fff;
}
.footer .container > .row:before,  .footer .advanced-grid .container > div > .row:before,  .footer .container > .row > div:before,  .footer .advanced-grid .container > div > .row > div:before,  .footer-type-11 .footer .container > .row:nth-last-child(2) > div:before,  .footer-type-11 .footer .advanced-grid .container > div > .row:nth-last-child(2) > div:before,  .footer-type-16 .footer .container > .row:nth-last-child(2) > div:before,  .footer-type-16 .footer .advanced-grid .container > div > .row:nth-last-child(2) > div:before,  .footer-type-21 .footer .container > .row > div:last-child:after,  .footer-type-21 .footer .advanced-grid .container > div > .row > div:last-child:after {
	background: #e5e5e5;
}
.footer-type-11 .footer .container > .row:nth-last-child(2),  .footer-type-11 .footer .advanced-grid .container > div > .row:nth-last-child(2),  .footer-type-16 .footer .container > .row:nth-last-child(2),  .footer-type-16 .footer .advanced-grid .container > div > .row:nth-last-child(2) {
	border-color: #e5e5e5;
}
#main .post .date-published,  #main .news.v2 .media-body .bottom,  .cosmetics-news .media .date-published,  .medic-news .media .date-published,  .wine-news .media .date-published,  .cameras-news .media .date-published {
	color: #333;
}
#main .post .meta > li a {
	color: #bc985c;
}
#main .post .meta > li a:hover {
	color: #333;
}
#main .tagcloud a,  #main .post .tags a,  #main .news .media-body .tags a,  #main .posts .post .tags a,  .cosmetics-news .media .tags a,  .cameras-news .media .tags a {
	color: #fff;
}
#main .tagcloud a,  #main .post .tags a,  #main .news .media-body .tags a,  #main .posts .post .tags a,  .cosmetics-news .media .tags a,  .cameras-news .media .tags a {
	background: #bc985c;
}
#main .tagcloud a:hover,  #main .post .tags a:hover,  #main .news .media-body .tags a:hover,  #main .posts .post .tags a:hover,  .cosmetics-news .media .tags a:hover,  .cameras-news .media .tags a:hover {
	color: #fff;
}
#main .tagcloud a:hover,  #main .post .tags a:hover,  #main .news .media-body .tags a:hover,  #main .posts .post .tags a:hover,  .cosmetics-news .media .tags a:hover,  .cameras-news .media .tags a:hover {
	background: #333;
}
#main .posts .button-more,  .wine-news .button-more {
	color: #bc985c;
}
#main .posts .button-more:hover,  .wine-news .button-more:hover {
	background: #bc985c;
}
#main .posts .button-more:hover,  .wine-news .button-more:hover {
	border-color: #bc985c;
}
#main .posts .button-more:hover,  .wine-news .button-more:hover {
	color: #fff;
}
body,  textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
	font-size: 13px;
	font-weight: 400 !important;
}
ul.megamenu .megamenu-label,  #main .news .media-body h5,  #main .posts .post .post-title {
}
 @media (max-width: 767px) {
.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
}
}
body.firefox-mac,  body.firefox-mac input,  body.firefox-mac select {
	font-weight: 300 !important;
}
.center-column .panel-heading h4 {
}
.dropdown-menu,  body .dropdown-menu > li > a,  .top-bar .menu li a,  #top .dropdown > a,  .product-info .cart .add-to-cart p,  .header-notice,  .header-type-9 #top #header-center .menu li a,  .welcome-text,  .header-type-16 #top #header-left .menu li {
	font-size: 12px;
}
.product-filter .options .product-compare a,  .product-info .cart .links a,  .button-previous-next,  .footer-button,  .button-white-with-red-text,  table.attribute thead td,  table.list thead td,  .wishlist-product table thead td,  .wishlist-info table thead td,  .compare-info thead td,  .checkout-product table thead td,  .table thead td,  .cart-info table thead td,  .manufacturer-heading,  .center-column .panel-heading h4,  ul.box-filter > li > span,  .popup .form-contact .contact-label label,  .categories-wall .category-wall .more-categories,  .mfilter-heading,  .product-info .options2 > div > label {
	font-size: 11px !important;
}
ul.megamenu li .sub-menu .content .static-menu a.main-menu {
	font-size: 15px;
	font-weight: 700 !important;
	line-height: 1.6;
}
ul.megamenu > li > a strong,  .megamenuToogle-wrapper .container {
	font-size: 14px;
	font-weight: 600 !important;
}
.horizontal ul.megamenu > li > a,  .megamenuToogle-wrapper .container {
	line-height: 1.6;
}
.box .box-heading,  .center-column h1,  .center-column h2,  .center-column h3,  .center-column h4,  .center-column h5,  .center-column h6,  .products-carousel-overflow .box-heading,  .htabs a,  .product-info .options h2,  h3,  h4,  h6,  .product-block .title-block,  .filter-product .filter-tabs ul > li > a,  .popup h4,  .product-info .product-name a,  legend {
	font-size: 15px;
	font-weight: 700 !important;
}
.box-with-categories .box-heading,  .vertical .megamenuToogle-wrapper .container {
	font-size: 14px;
	font-weight: 700 !important;
}
.box-with-categories .box-heading,  .vertical .megamenuToogle-wrapper .container {
	line-height: 1.6;
}
.box-category ul li > a,  .vertical ul.megamenu > li > a strong {
	font-size: 14px;
	font-weight: 600 !important;
	line-height: 1.6;
}
.sale,  #main .new {
	font-size: 11px;
	font-weight: 600 !important;
	line-height: 1.6;
}
.footer h4,  .custom-footer h4 {
	font-size: 15px;
	font-weight: 700 !important;
}
.breadcrumb .container h1 {
	font-size: 45px;
	font-weight: 700 !important;
}
.button,  .btn,  .footer-button {
	font-size: 11px !important;
	font-weight: 600 !important;
	line-height: 1.6;
}
.product-grid .product .price,  .advanced-grid-products .product .right .price,  #top #cart_block .cart-heading p strong,  .cart-total table tr td:last-child,  .mini-cart-info td.total,  .mini-cart-total td:last-child,  .today-deals-products .product .price,  .architecture-products .product .right .price,  .matrialarts-products .matrial-product .right .price {
	font-size: 14px;
	font-weight: 600 !important;
}
.product-info .price .price-new {
	font-size: 50px;
	font-weight: 600 !important;
}
.product-list .name-actions > .price {
	font-size: 20px;
	font-weight: 600 !important;
}
.price-old,  .today-deals-products .product .price .price-old,  .architecture-products .product .right .price .price-old {
	font-size: 14px;
	font-weight: 600;
}
div.pagination-results ul li a, div.pagination-results ul li span {
    display: block;
    padding: 6px 0px 0px 0px;
    width: 30px;
    height: 30px;
}
header {
	height: 65px;
	min-height: 0px;
	background: #FFFFFF;
	border-bottom: 1px solid #d8d8d8;
	margin: 0;
	padding: 0;
	box-shadow: 0px 0px 4px #ccc;
}
header .panel {
	border: 1px solid #d8d8d8;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
	color: #818892;
}
.activie {
	background: #5563c1;
	font-size: 15px;
	color: #FFF;
	border: 1px solid #3f4eae;
}
#header a:hover {
	background: #F4F6F7;
	color: #818892;
	ilter: alpha(Opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6
}
</style>
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" media="screen" />
<style type="text/css">
		.standard-body .full-width .container {
			max-width: 2000px;
					}
		
		.main-fixed,
		.fixed-body-2-2,
		.standard-body .fixed2 .background {
			max-width: 2000px;
					}
		
		.standard-body .fixed .background {
		     max-width: 1910px;
		     		}
	</style>
<script type="text/javascript" src="catalog/view/theme/fastor/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/mf/jquery-ui.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/fastor/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/fastor/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="catalog/view/theme/fastor/js/bootstrap.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/fastor/js/twitter-bootstrap-hover-dropdown.js"></script>
<script type="text/javascript" src="catalog/view/javascript/common.js"></script>
<script type="text/javascript" src="catalog/view/theme/fastor/js/tweetfeed.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/fastor/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/fastor/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/fastor/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
<script type="text/javascript">
		var responsive_design = 'yes';
	</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
<script type="text/javascript">
    ShopifyApp.init({
      apiKey: '{{appkey}}',
      shopOrigin: 'https://{{ shopify }}',
	  debug: true
  	  //forceRedirect: true
    });
  </script>
<script type="text/javascript">
  ShopifyApp.ready(function(){

    //ShopifyApp.Bar.loadingOn();
   
    ShopifyApp.Bar.initialize({
      icon: 'image/logo.png',
      buttons: {
        primary: {
          label: '{{dashboard}}',
          message: '{{dashboard}}',
          callback: function(){
            window.location.href="index.php?route=commonipl/dashboard";
          }
        },
		secondary:[
					// Dropdown example
					{ 
						label: '{{add_products}}',
          message: '{{add_products}}',
          callback: function(){
		   window.location.href="index.php?route=commonipl/category";
          }
					},
					{
          label: '{{ orders }}',
          message: '{{ orders }}',
          callback: function(){
		   window.location.href="index.php?route=commonipl/orders";
          }
         },/*{
          label: '{{ acct_balance_transactions }}',
          message: '{{ acct_balance_transactions }}',
          callback: function(){
		   window.location.href="index.php?route=commonipl/transaction";
          }
         },*/
         {
          label: '{{ wish_list }}',
          message: '{{ wish_list }}',
          callback: function(){
		   window.location.href="index.php?route=account/wishlist&shopify=true";
          }
		 },{
          label: '{{ account_settings }}',
          message: '{{ account_settings }}',
		  callback: function(){
		   window.location.href="index.php?route=commonipl/edit";
          }
		 }
			
				]
		
      }
    });
  });
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59f005b9c28eca75e4628018/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80651011-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-80651011-1');
</script>

</head>
<body class="common-home body-full-width product-list-type-3 product-grid-type-3              no-box-type-7 box-type-5     footer-type-3 breadcrumb-style-7 border-width-1 body-white    body-header-type-4">

<header id="header" class="navbar navbar-static-top">
  <div class="container"> 
    <div class="nav pull-left" style=" padding-top:23px; margin-right:50px;">
      <ul class="list-inline">
      
      {% if informations %}
        {% for info in informations%}
        <li><a href="{{ info.href }}" class="panel {% if information_id == info.information_id %} activie {%endif%}" title="{{ info.title }}">{{ info.title }}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
  </div>
</header>
