{{ header }}
<div id="product-category" class="container">
  <div class="row">
    <div id="content" class="{{ class }}"> {% if categories %}
      <div class="row" style="display:none">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
       
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              
              
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              
              
              
              {% else %}
              
              
              
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              
              
              
              {% for limits in limits %}
              {% if limits.value == limit %}
              
              
              
              
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              
              
              
              
              {% else %}
              
              
              
              
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            
            </select>
          </div>
        </div>
      </div>
      <div class="row"> 
      {% for category in categories %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="{{ category.href }}"><img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" /></a></div>
            <div>
              <div class="caption">
                <h4 ><a href="{{ category.href }}" style="color:#FFF">{{ category.name }}</a></h4>
               <!-- {% if product.price %}
                <p class="price" style="color:#CCC"> {% if not product.special %}
                  {{ product.price }}
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                  {% endif %} -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <!--<div class="col-sm-6 text-right">{{ results }}</div>--> 
      </div>
      {% endif %}
      </div>
    </div>
</div>
{{ footer }} 