<div class="row">
 {% if products %}
                            {% for product in products %}
                            <input type="hidden" name="product[{{ category_id }}][]" value="{{ product.product_id }}" />
<div class="col-sm-2 col-xs-6 col-md-25 col-lg-2 col-sm-3  "> 
  
  <!-- Product -->
  <div class="product clearfix product-hover">
    <div class="left"> 
      <!--<div class="new">New</div>-->
      <div class="image "> <a href="{{ product.href }}"> <img src="{{ product.thumb }}" alt="{{ product.name }}" class="" /> </a> </div>
    </div>
    <div class="right">
      <div class="name" style="height:60px;"><a href="{{product.href}}" style="overflow:hidden;text-overflow: ellipsis;
display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{ product.name }}</a></div>
      <div style="float:left;"><label style="width:80px; text-align:right;">Price:&nbsp;&nbsp; </label><font class="price"> {{product.price}}</font> </div>
      
      {% if product.coupon %}
      
      <div style="float:left;"><label style="width:80px; text-align:right;">{{ product.coupon.name }}:&nbsp;&nbsp; </label><font class="price" style="color:#F00"> {{product.coupon.price}}</font> <font size="1px" color="#F00">&nbsp;&nbsp;(You Save:&nbsp;{{ product.coupon.discount }} ) </font> </div>
      {% endif %}
      <div class="only-hover">
        <ul style="top:0px; margin-bottom:10px;">
          {%if home %}
          <li style="width:100%;"><a onclick="cart.add('{{ product.product_id }}');" style="width:100%;" data-toggle="tooltip" data-original-title="{{ button_cart }}">{{ button_cart }}</a></li>
          {% else %}
          {% if product.added %}
          <li style="width:100%;"><a onclick="wishlist.add('{{ product.product_id }}');" style="width:100%;" data-toggle="tooltip" id="button_add_wishlist{{ product.product_id }}" data-original-title="{{ button_wishlist }}"><i class="fa fa-check-circle"></i> Added</a></li>
          {% else %}
          <li style="width:100%;"><a onclick="wishlist.add('{{ product.product_id }}');" style="width:100%;" data-toggle="tooltip" id="button_add_wishlist{{ product.product_id }}" data-original-title="{{ button_wishlist }}">{{ button_wishlist }}</a></li>
          {% endif %}
          {% endif %}
           {% if product.vipdiscount %}
          <li style="width:100%;"><a href="index.php?route=shopify/vipdiscount" style="width:100%;background-color: #bc985c;color: #fff;" data-toggle="tooltip" id="button_vip_discount{{ product.product_id }}" data-original-title="Get VIP Discount Now!">Get VIP Discount Now!</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endfor %}
                            {% endif %} 
                             </div>
                             <div class="row pagination-results" style="margin-top:45px;">
                <div class="col-sm-6 text-left">{{ pagination }}</div>
                <!-- <div class="col-sm-6 text-right">{{ results }}</div>--> 
              </div>     