{{ header }}


<div class="main-content full-width inner-page" style="padding-left:40px;padding-right:40px;">

  <div class="content">
  
  </div>
  <div class="background">
    <div class="shadow"></div>
    <div class="pattern">
      <div class="container">
        <div class="row">
        
        
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 center-column content-without-background" id="content">
                <div itemscope="" itemtype="http://data-vocabulary.org/Product"> <span itemprop="name" class="hidden">HP LP3065</span>
                  <div class="product-info">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <div class="row" id="quickview_product"> 
                        
                        
                        
                          <script>
			    	$(document).ready(function(){
			    	     if($(window).width() > 992) {
     			    		     			    			$('#image').elevateZoom({
     			    				zoomType: "inner",
     			    				cursor: "pointer",
     			    				zoomWindowFadeIn: 500,
     			    				zoomWindowFadeOut: 750
     			    			});
     			    		     			    		
     			    		var z_index = 0;
     			    		
     			    		$(document).on('click', '.open-popup-image', function () {
     			    		  $('.popup-gallery').magnificPopup('open', z_index);
     			    		  return false;
     			    		});
			    		
     			    		
			    		} else {
			    			$(document).on('click', '.open-popup-image', function () {
			    			  $('.popup-gallery').magnificPopup('open', 0);
			    			  return false;
			    			});
			    		}
						/*$(document).on('click', '.popup-image', function () {
     			    		  var smallImage = $(this).attr('data-image');
     			    			var largeImage = $(this).attr('data-zoom-image');
								alert(largeImage);
     			    			//var ez =   $('#image').data('elevateZoom');	
     			    			$('#ex1').attr('src', largeImage);  
     			    			/*ez.swaptheimage(smallImage, largeImage); 
     			    			z_index = $(this).index('.thumbnails a, .thumbnails-carousel a');
     			    			return false;
     			    		});*/
						
			    	});
					function image(popup){
						
						 /*var smallImage = $(node).getAttribute('data-image');
     			    			var largeImage = $(node).getAttribute('data-zoom-image');*/
								//alert(popup);
     			    			//var ez =   $('#image').data('elevateZoom');	
     			    	$('#ex1').attr('src', popup);  
					}
			    </script>
                          <div class="col-sm-5 popup-gallery" >
                            <div class="row"> 
                            
                            
                            {% if thumb or images %}
                              <div class="col-sm-2">
                              
                                <div class="thumbnails thumbnails-carousel clearfix">
                                <div class="owl-prev"></div>
                                  <ul>
                                   {% if thumb %}
                                    <li style="  text-align:center;">
                                      <p style=" text-align:center;"><a class="popup-image" href="javascript:image('{{ popup }}');" data-zoom-image="{{ popup }}" data-image="{{ popup }}" title="{{ heading_title }}"> <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"  align="middle" /></a></p>
                                    </li>
                                   {% endif %}
                                    {% if images %}
                                    {% for image in images %}
                                    <li style=" text-align:center;">
                                      <p><a class="popup-image" href="javascript:image('{{ image.popup }}');"  data-zoom-image="{{ image.popup }}" data-image="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"  align="middle" /></a></p>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                  </ul>
                                </div>
                              </div>
                              <div class="col-sm-10">
                                <div class="product-image inner-cloud-zoom"> 
                                  <!--<div class="new">New</div>--> 
                                  {% if thumb %} <!--<a id="ex1" class="open-popup-image" href="{{ popup }}" title="{{ heading_title }}">--><img src="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" id="ex1" itemprop="image" data-zoom-image="{{ popup }}"/><!--</a>--> {% endif %} </div>
                              </div>
                            </div>
                            {% endif %} </div>
                          <div class="col-sm-5 product-center clearfix">
                            <div class="{{ class }}"> 
                              <!--<div class="btn-group">
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>
          </div>-->
                              <h1>{{ heading_title }}</h1>
                              <ul class="list-unstyled">
                                {% if manufacturer %}
                                <li>{{ text_manufacturer }} <a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
                                {% endif %}
                                <li>{{ text_model }} {{ model }}</li>
                                {% if reward %}
                                <li>{{ text_reward }} {{ reward }}</li>
                                {% endif %}
                                <li>{{ text_stock }} {{ stock }}</li>
                              </ul>
                              {% if price %}
                              <ul class="list-unstyled">
                                {% if not special %}
                                <li>
                                  <h2>{{ price }}</h2>
                                </li>
                                {% else %}
                                <li><span style="text-decoration: line-through;">{{ price }}</span></li>
                                <li>
                                  <h2>{{ special }}</h2>
                                </li>
                                
                                {% endif %}
                                 {% if coupon %}
      
       <li><h2>{{ coupon.name }}:&nbsp;&nbsp;<font class="price" style="color:#F00"> {{coupon.price}}</font><font size="1px" color="#F00">&nbsp;&nbsp;&nbsp;&nbsp;(You Save:&nbsp;{{ coupon.discount }} ) </font> </h2>  <li>
      {% endif %}
                                {% if tax %}
                                <li>{{ text_tax }} {{ tax }}</li>
                                {% endif %}
                                {% if points %}
                                <li>{{ text_points }} {{ points }}</li>
                                {% endif %}
                                {% if discounts %}
                                <li>
                                  <hr>
                                </li>
                                {% for discount in discounts %}
                                <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                                {% endfor %}
                                {% endif %}
                              </ul>
                              {% endif %}
                              <div id="product"> {% if options %}
                                <hr>
                                <h3>{{ text_option }}</h3>
                                {% for option in options %}
                                {% if option.type == 'select' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                  <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                                    <!--<option value="">{{ text_select }}</option>-->
                {% for option_value in option.product_option_value %}
                
                                    <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                    {% if option_value.price %}
                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                    {% endif %} </option>
                                    
                {% endfor %}
              
                                  </select>
                                </div>
                                {% endif %}
                                {% if option.type == 'radio' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label">{{ option.name }}</label>
                                  <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                                        {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                                        {{ option_value.name }}
                                        {% if option_value.price %}
                                        ({{ option_value.price_prefix }}{{ option_value.price }})
                                        {% endif %} </label>
                                    </div>
                                    {% endfor %} </div>
                                </div>
                                {% endif %}
                                {% if option.type == 'checkbox' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label">{{ option.name }}</label>
                                  <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                                        {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                        {{ option_value.name }}
                                        {% if option_value.price %}
                                        ({{ option_value.price_prefix }}{{ option_value.price }})
                                        {% endif %} </label>
                                    </div>
                                    {% endfor %} </div>
                                </div>
                                {% endif %}
                                {% if option.type == 'text' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
                                </div>
                                {% endif %}
                                {% if option.type == 'textarea' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                  <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                                </div>
                                {% endif %}
                                {% if option.type == 'file' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label">{{ option.name }}</label>
                                  <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                                  <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
                                </div>
                                {% endif %}
                                {% if option.type == 'date' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                  <div class="input-group date">
                                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                </div>
                                {% endif %}
                                {% if option.type == 'datetime' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                  <div class="input-group datetime">
                                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                </div>
                                {% endif %}
                                {% if option.type == 'time' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                  <div class="input-group time">
                                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% if recurrings %}
                                <hr>
                                <h3>{{ text_payment_recurring }}</h3>
                                <div class="form-group required">
                                  <select name="recurring_id" class="form-control">
                                    <option value="">{{ text_select }}</option>
                                    
                {% for recurring in recurrings %}
                
                                    <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                                    
                {% endfor %}
              
                                  </select>
                                  <div class="help-block" id="recurring-description"></div>
                                </div>
                                {% endif %}
                                <div class="form-group"> 
                                  <!--<label class="control-label" for="input-quantity">{{ entry_qty }}</label>
              <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
              <input type="hidden" name="product_id" value="{{ product_id }}" />
              <br />-->
                                  {% if home %}
                                  <button type="button" data-toggle="tooltip"  data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block" title="{{ button_cart }}" onclick="cart.add('{{ product_id }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                                  {%else%}
                                  {% if added %}
                                   <button type="button" id="button_add_wishlist{{ product_id }}" data-toggle="tooltip"  data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block" title="Added" onclick="wishlist.add('{{ product_id }}');"><span class="hidden-xs hidden-sm hidden-md"><i class="fa fa-check-circle"></i> Added</span></button>
                                  {%else%}
                                  <button type="button" data-toggle="tooltip"  data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block" title="{{ button_wishlist }}" id="button_add_wishlist{{ product_id }}" onclick="wishlist.add('{{ product_id }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_wishlist }}</span></button>
                                   {%endif%}
                                  {%endif%}
                                  <!--  <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>--> 
                                </div>
                                {% if minimum > 1 %}
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                                {% endif %}</div>
                              {% if review_status %}
                              <div class="rating">
                                <p>{% for i in 1..5 %}
                                  {% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
                                  {% endfor %} <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a></p>
                                <hr>
                                <!-- AddThis Button BEGIN --> 
                                <!-- <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script> --> 
                                <!-- AddThis Button END --> 
                              </div>
                              {% endif %} </div>
                          </div>
                          <!-- End #product --> 
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="tabs" class="htabs"> <a href="#tab-description" class="selected">{{ tab_description }}</a> {% if attribute_groups %} <a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a> {% endif %}
                  {% if review_status %} <a href="#tab-review" data-toggle="tab">{{ tab_review }}</a> {% endif %} </div>
                <div id="tab-description" class="tab-content" itemprop="description" style="display: block;">
                  <p> {{ description }}</p>
                </div>
                {% if attribute_groups %}
                <div class="tab-pane" id="tab-specification">
                  <table class="table table-bordered">
                    {% for attribute_group in attribute_groups %}
                    <thead>
                      <tr>
                        <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                      </tr>
                    </thead>
                    <tbody>
                    
                    {% for attribute in attribute_group.attribute %}
                    <tr>
                      <td>{{ attribute.name }}</td>
                      <td>{{ attribute.text }}</td>
                    </tr>
                    {% endfor %}
                      </tbody>
                    
                    {% endfor %}
                  </table>
                </div>
                {% endif %}
                {% if review_status %}
                <div class="tab-pane" id="tab-review">
                  <form class="form-horizontal" id="form-review">
                    <div id="review"></div>
                    <h2>{{ text_write }}</h2>
                    {% if review_guest %}
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <label class="control-label" for="input-name">{{ entry_name }}</label>
                        <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <label class="control-label" for="input-review">{{ entry_review }}</label>
                        <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                        <div class="help-block">{{ text_note }}</div>
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <label class="control-label">{{ entry_rating }}</label>
                        &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                        <input type="radio" name="rating" value="1" />
                        &nbsp;
                        <input type="radio" name="rating" value="2" />
                        &nbsp;
                        <input type="radio" name="rating" value="3" />
                        &nbsp;
                        <input type="radio" name="rating" value="4" />
                        &nbsp;
                        <input type="radio" name="rating" value="5" />
                        &nbsp;{{ entry_good }}</div>
                    </div>
                    {{ captcha }}
                    <div class="buttons clearfix">
                      <div class="pull-right">
                        <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                      </div>
                    </div>
                    {% else %}
                    {{ text_login }}
                    {% endif %}
                  </form>
                </div>
                {% endif %} </div>
              <script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			
			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
              <script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));
						
						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}
				
				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}
				
				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}
			
			if (json['success']) {
				$.notify({
					message: json['success'],
					target: '_blank'
				},{
					// settings
					element: 'body',
					position: null,
					type: "info",
					allow_dismiss: true,
					newest_on_top: false,
					placement: {
						from: "top",
						align: "right"
					},
					offset: 20,
					spacing: 10,
					z_index: 2031,
					delay: 5000,
					timer: 1000,
					url_target: '_blank',
					mouse_over: null,
					animate: {
						enter: 'animated fadeInDown',
						exit: 'animated fadeOutUp'
					},
					onShow: null,
					onShown: null,
					onClose: null,
					onClosed: null,
					icon_type: 'class',
					template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-success" role="alert">' +
						'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
						'<span data-notify="message"><i class="fa fa-check-circle"></i>&nbsp; {2}</span>' +
						'<div class="progress" data-notify="progressbar">' +
							'<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
						'</div>' +
						'<a href="{3}" target="{4}" data-notify="url"></a>' +
					'</div>' 
				});
				
				$('#cart_block #cart_content').load('index.php?route=common/cart/info #cart_content_ajax');
				$('#cart_block #total_price_ajax').load('index.php?route=common/cart/info #total_price');
				$('#cart_block .cart-count').load('index.php?route=common/cart/info #total_count_ajax');
			}
		}
	});
});
//--></script> 
              <script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});
		
$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;
	
	$('#form-upload').remove();
	
	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
	
	$('#form-upload input[name=\'file\']').trigger('click');
	
	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);
			
			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();
					
					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}
					
					if (json['success']) {
						alert(json['success']);
						
						$(node).parent().find('input').attr('value', json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
              <script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
	e.preventDefault();
	
    $('#review').fadeOut('slow');
        
    $('#review').load(this.href);
    
    $('#review').fadeIn('slow');
});         

$('#review').load('index.php?route=product/product/review&product_id=47');

$('#button-review').on('click', function() {
    $.ajax({
        url: 'index.php?route=product/product/write&product_id=47',
        type: 'post',
        dataType: 'json',
        data: $("#form-review").serialize(),
        beforeSend: function() {
            $('#button-review').button('loading');
        },
        complete: function() {
            $('#button-review').button('reset');
        },
        success: function(json) {
			$('.alert-success, .alert-danger').remove();
            
			if (json['error']) {
                $('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
            }
            
            if (json['success']) {
                $('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
                                
                $('input[name=\'name\']').val('');
                $('textarea[name=\'text\']').val('');
                $('input[name=\'rating\']:checked').prop('checked', false);
            }
        }
    });
});
</script> 
              <script type="text/javascript"><!--
$(document).ready(function() {     
	$('.popup-gallery').magnificPopup({
		delegate: 'a.popup-image',
		type: 'image',
		tLoading: 'Loading image #%curr%...',
		mainClass: 'mfp-with-zoom',
		removalDelay: 200,
		gallery: {
			enabled: true,
			navigateByImgClick: true,
			preload: [0,1] // Will preload 0 - before current, and 1 after the current image
		},
		image: {
			tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
			titleSrc: function(item) {
				return item.el.attr('title');
			}
		}
	});
});
//--></script> 
              <script type="text/javascript">
var ajax_price = function() {
	$.ajax({
		type: 'POST',
		url: 'index.php?route=product/liveprice/index',
		data: $('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\']:checked, .product-info input[type=\'checkbox\']:checked, .product-info select, .product-info textarea'),
		dataType: 'json',
			success: function(json) {
			if (json.success) {
				change_price('#price-special', json.new_price.special);
				change_price('#price-tax', json.new_price.tax);
				change_price('#price-old', json.new_price.price);
			}
		}
	});
}

var change_price = function(id, new_price) {
	$(id).html(new_price);
}

$('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\'], .product-info input[type=\'checkbox\'], .product-info select, .product-info textarea, .product-info input[name=\'quantity\']').on('change', function() {
	ajax_price();
});
</script> 
              <script type="text/javascript">
$.fn.tabs = function() {
	var selector = this;
	
	this.each(function() {
		var obj = $(this); 
		
		$(obj.attr('href')).hide();
		
		$(obj).click(function() {
			$(selector).removeClass('selected');
			
			$(selector).each(function(i, element) {
				$($(element).attr('href')).hide();
			});
			
			$(this).addClass('selected');
			
			$($(this).attr('href')).show();
			
			return false;
		});
	});

	$(this).show();
	
	$(this).first().click();
};
</script> 
              <script type="text/javascript"><!--
$('#tabs a').tabs();
//--></script> 
              <script type="text/javascript" src="catalog/view/theme/fastor/js/jquery.elevateZoom-3.0.3.min.js"></script> 
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12"> </div>
      </div>
    </div>
  </div>
</div>
<style>
ul > li.active{
	border:1px solid #ddd;
	
}
</style>

{{ footer }} 