
          {% if shippings %}
          {% for shipping in shippings %}
          <tr>
            <td class="text-center"><a href="javascript:addNew('{{ shipping.id }}');" >{{ shipping.name }}</a></td>
            <td class="text-center">{{ shipping.scountry }}</td>
            <td class="text-center">{{ shipping.option }}</td>
            <td class="text-center">{{ shipping.date_added }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
          </tr>
          {% endif %}
          
       